<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Chroma Photo Editing Extension.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Chroma.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>ChromaMask.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DCC6C19C1B544DBE00EFB8FC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DCD0C87F1B39599C0061E88B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DCD0C8981B39599C0061E88B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DCD0C8AC1B3959BE0061E88B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
