<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>filterName</key>
		<string>Magnitude</string>
		<key>displayName</key>
		<string>Magnitude</string>
		<key>previewImage</key>
		<string>dragonfly.png</string>
	</dict>
	<dict>
		<key>filterName</key>
		<string>EdgeGradient</string>
		<key>displayName</key>
		<string>EdgeGradient</string>
		<key>previewImage</key>
		<string>dragonfly.png</string>
	</dict>
	<dict>
		<key>filterName</key>
		<string>StretchContrastAverage</string>
		<key>displayName</key>
		<string>Stretch Contrast (Average)</string>
		<key>previewImage</key>
		<string>dragonfly.png</string>
	</dict>
	<dict>
		<key>filterName</key>
		<string>Equalize</string>
		<key>displayName</key>
		<string>Equalize</string>
		<key>previewImage</key>
		<string>dragonfly.png</string>
	</dict>
	<dict>
		<key>filterName</key>
		<string>AMBE</string>
		<key>displayName</key>
		<string>AMBE</string>
		<key>previewImage</key>
		<string>dragonfly.png</string>
	</dict>
	<dict>
		<key>filterName</key>
		<string>LocalAdaptiveThreshold</string>
		<key>displayName</key>
		<string>Local Adaptive Threshold</string>
		<key>previewImage</key>
		<string>dragonfly.png</string>
	</dict>
	<dict>
		<key>filterName</key>
		<string>FourDirectionalMinMax</string>
		<key>displayName</key>
		<string>Four-Directional MinMax</string>
		<key>previewImage</key>
		<string>dragonfly.png</string>
	</dict>
	<dict>
		<key>filterName</key>
		<string>CustomConvolution</string>
		<key>displayName</key>
		<string>Custom Convolution</string>
		<key>previewImage</key>
		<string>dragonfly.png</string>
	</dict>
	<dict>
		<key>filterName</key>
		<string>MedianUnsharp</string>
		<key>displayName</key>
		<string>Median Unsharp (9)</string>
		<key>previewImage</key>
		<string>dragonfly.png</string>
	</dict>
	<dict>
		<key>filterName</key>
		<string>LevelsInput</string>
		<key>displayName</key>
		<string>Levels Input</string>
		<key>previewImage</key>
		<string>dragonfly.png</string>
	</dict>
	<dict>
		<key>filterName</key>
		<string>OverlayHistogram</string>
		<key>displayName</key>
		<string>Histogram</string>
		<key>previewImage</key>
		<string>dragonfly.png</string>
	</dict>
	<dict>
		<key>filterName</key>
		<string>PixelDifference</string>
		<key>displayName</key>
		<string>Pixel Difference</string>
		<key>previewImage</key>
		<string>dragonfly.png</string>
	</dict>
	<dict>
		<key>filterName</key>
		<string>FASTCornerDetection</string>
		<key>displayName</key>
		<string>FAST Corner Detection</string>
		<key>previewImage</key>
		<string>dragonfly.png</string>
	</dict>
	<dict>
		<key>filterName</key>
		<string>BushCurve</string>
		<key>displayName</key>
		<string>Bush Curve</string>
		<key>previewImage</key>
		<string>dragonfly.png</string>
	</dict>
	<dict>
		<key>filterName</key>
		<string>LocalContrastStretch</string>
		<key>displayName</key>
		<string>Local Contrast Stretch</string>
		<key>previewImage</key>
		<string>dragonfly.png</string>
	</dict>
	<dict>
		<key>filterName</key>
		<string>GlobalStandardDeviation</string>
		<key>displayName</key>
		<string>Global Standard Deviation</string>
		<key>previewImage</key>
		<string>dragonfly.png</string>
	</dict>
	<dict>
		<key>filterName</key>
		<string>CIMaximumComponent</string>
		<key>displayName</key>
		<string>Maximum</string>
		<key>previewImage</key>
		<string>dragonfly.png</string>
	</dict>
	<dict>
		<key>filterName</key>
		<string>CIMinimumComponent</string>
		<key>displayName</key>
		<string>Minimum</string>
		<key>previewImage</key>
		<string>dragonfly.png</string>
	</dict>
	<dict>
		<key>filterName</key>
		<string>PrewittKernel</string>
		<key>displayName</key>
		<string>Prewitt Kernel</string>
		<key>previewImage</key>
		<string>dragonfly.png</string>
	</dict>
	<dict>
		<key>filterName</key>
		<string>SobelXKernel</string>
		<key>displayName</key>
		<string>Sobel X Kernel</string>
		<key>previewImage</key>
		<string>dragonfly.png</string>
	</dict>
	<dict>
		<key>filterName</key>
		<string>SobelYKernel</string>
		<key>displayName</key>
		<string>Sobel Y Kernel</string>
		<key>previewImage</key>
		<string>dragonfly.png</string>
	</dict>
	<dict>
		<key>filterName</key>
		<string>CentralDifference</string>
		<key>displayName</key>
		<string>Central Difference</string>
		<key>previewImage</key>
		<string>dragonfly.png</string>
	</dict>
	<dict>
		<key>filterName</key>
		<string>Scharr</string>
		<key>displayName</key>
		<string>Scharr</string>
		<key>previewImage</key>
		<string>dragonfly.png</string>
	</dict>
	<dict>
		<key>filterName</key>
		<string>Chroma</string>
		<key>displayName</key>
		<string>Chroma</string>
		<key>previewImage</key>
		<string>dragonfly.png</string>
	</dict>
	<dict>
		<key>filterName</key>
		<string>LaplacianConvolution</string>
		<key>displayName</key>
		<string>Laplacian Convolution</string>
		<key>previewImage</key>
		<string>dragonfly.png</string>
	</dict>
	<dict>
		<key>filterName</key>
		<string>Variance</string>
		<key>displayName</key>
		<string>Variance</string>
		<key>previewImage</key>
		<string>dragonfly.png</string>
	</dict>
	<dict>
		<key>filterName</key>
		<string>CV</string>
		<key>displayName</key>
		<string>CV</string>
		<key>previewImage</key>
		<string>dragonfly.png</string>
	</dict>
	<dict>
		<key>filterName</key>
		<string>Dissimilarity</string>
		<key>displayName</key>
		<string>Dissimilarity</string>
		<key>previewImage</key>
		<string>dragonfly.png</string>
	</dict>
	<dict>
		<key>filterName</key>
		<string>LocalStandardDeviation</string>
		<key>displayName</key>
		<string>Local Standard Deviation</string>
		<key>previewImage</key>
		<string>dragonfly.png</string>
	</dict>
	<dict>
		<key>filterName</key>
		<string>RMS</string>
		<key>displayName</key>
		<string>RMS</string>
		<key>previewImage</key>
		<string>dragonfly.png</string>
	</dict>
	<dict>
		<key>filterName</key>
		<string>RobertsConvolution</string>
		<key>displayName</key>
		<string>Roberts Convolution</string>
		<key>previewImage</key>
		<string>dragonfly.png</string>
	</dict>
	<dict>
		<key>filterName</key>
		<string>PrewittConvolution</string>
		<key>displayName</key>
		<string>Prewitt Convolution</string>
		<key>previewImage</key>
		<string>dragonfly.png</string>
	</dict>
	<dict>
		<key>filterName</key>
		<string>MeanMinMax</string>
		<key>displayName</key>
		<string>MeanMinMax</string>
		<key>previewImage</key>
		<string>dragonfly.png</string>
	</dict>
	<dict>
		<key>filterName</key>
		<string>AbsoluteDeviation</string>
		<key>displayName</key>
		<string>Absolute Deviation</string>
		<key>previewImage</key>
		<string>dragonfly.png</string>
	</dict>
</array>
</plist>
